body {
  font-family: Philosopher;
  font-size: 3em;
}
p {
  margin: 0;
}
.smart-quotes {
  font-size: 3em;
}
#smart-right {
  float: right;
}
#container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
#theater {
  /*background-color: rgba(255, 255, 255, 0.6);*/
  padding: 5px 30px;
  margin-top: -40px;
  min-height: 200px;
}
#person {
  color: #8c8c8c;
  font-size: 0.8em;
}

/*Media Queries*/

@media screen and (max-width: 600px) {
  body {
    font-size: 2em;
  }
}

/*Mobile Phones Landscape*/
@media only screen and (max-device-width: 600px) and (orientation: landscape) {
  body {
    font-size: 2em;
  }
}
